
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logout Successful</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script language="javascript" type="text/javascript">

        window.history.forward();
    </script>
</head>
<body>

</body>
</html>

